* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(46 7 7);
}

.main {
    display: flex;
    top: calc(100vh / 20);
    position: absolute;
    height: 100vh;
}

.board {
    background-image: radial-gradient(#7aaa65, #39643a);
    min-height: 650px;
    min-width: 100vw;
    padding: 60px;
    position: fixed;
    border: 35px solid;
    border-image: linear-gradient(45deg,#C19A6B,#B28B5C) 1;
}


#card {
    height:100%;
    transform-style:preserve-3d;
    transition-timing-function:ease-in-out;
    transition:transform .2s;
    width:100%;
    will-change:transform;
}

.back{
    transform:rotateY(180deg);
}

.back,.front{
    backface-visibility:hidden;
    left:0;
    position:absolute;
    top:0;
}
.container{
    perspective:400px;
    position:relative;
    z-index:1;
}

@media (max-width: 1200px) {
    .board {
        overflow-x: scroll;
    }
    
}