* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(46 7 7);
    overflow-x: hidden;
}

.main {
    display: flex;
    top: calc(100vh / 20);
    position: absolute;
    height: 100vh;
}



.board {
    border: 35px solid;
    background-image: radial-gradient(#7aaa65, #39643a);
    border-image: linear-gradient(45deg,#C19A6B,#B28B5C) 1;
    min-height: 650px;
    min-width: 100vw;
    padding: 60px;
    position: absolute;
}

.btn.deal {
    position: absolute;
    top: 50%;
    width: 152px;
}


.cards__container {
    background-color:#0000003d;
    border-radius: 30px;    
    float: right;
    min-height: 320px;
    width: 80%;
    z-index: 20;
    padding: 10px;
}

.cards__container.secondary {
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: fadeInOut, moveLeft300px, bounce;
    margin-top: 10px;
    min-height: 130px;
    padding: 0;
}


.card {
    border-radius: 8px;
    display: inline-flex;
    height: 210px;
    margin: 20px;
    transform-style:preserve-3d;
    transition-timing-function:ease-in-out;
    transition:transform .2s;
    width: 167px;
    will-change:transform;
}

.card:hover {
    transform:rotateY(180deg);
}

.card.secondary {
    height: 60px;
    margin: 10px;
    width: 40px;
}

.suit.container {
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);
    border-radius: 5px;
    display: inline;
    height: 10px;
    margin-left: 15px;
}

#card {
    height:100%;
    transform-style:preserve-3d;
    transition-timing-function:ease-in-out;
    transition:transform .2s;
    width:100%;
    will-change:transform;
}

.back{
    transform:rotateY(180deg);
}

.back,.front{
    backface-visibility:hidden;
    left:0;
    position:absolute;
    top:0;
}

.container{
    perspective:400px;
    position:relative;
    z-index:1;
}

@media (max-width: 1200px) {
    
    .board {
        overflow-x: scroll;
    }
    
}